body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;

    /* Using flexbox with flex direction set to column to organise the content of the carts */
    display: flex;
    flex-direction: column;
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;

/* Aligning buttons to the bottom of the cart */
    margin-top: auto;
  }
  
  .icon {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*Applying a grid layout the parent element*/

  .emojis {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
  }

  /******************************************************

*********Applying a media query for a minimum width of 600px******/

  @media screen and (min-width: 600px) {
    .emojis {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 1em;
      }
  }    
